<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand text-white" href="/">Latest News</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        {{#if ctxt}}
                        <div class="text-white h-100 w-100 mr-2 d-flex justify-content-center align-middle"><span class="m-auto">Welcome </span></div>
                        {{else}}
                        <a class="nav-link text-white" href="/login">Login</a>
                        {{/if}}
                    </li>
                    <li class="nav-item">
                        {{#if ctxt}}
                        <div class="text-white h-100 w-100 d-flex justify-content-center align-middle"><span class="m-auto"><b>{{sess.userid.firstname}} {{sess.userid.lastname}} </b></span></div>
                        {{else}}
                        <a class="nav-link text-white" href="/register">Registration</a>
                        {{/if}}
                    </li>
                </ul>
    
            </div>
        </div>
    </nav>
    
    <header style="background:url(https://images.pexels.com/photos/733475/pexels-photo-733475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);    background-size: cover;
        background-position: center; ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="te text-center text-white">
                        <h1>Now look for news with your own preference!</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Megna tempus sed amet aliquam veroeros</h1>
                        <p class="">It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout.</p>
                        {{!-- <button class="btn btn-primary">More</button> --}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Megna tempus sed amet aliquam veroeros</h1>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.</p>
                        {{!-- <button class="btn btn-primary">More</button> --}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h1>Megna tempus sed amet aliquam veroeros</h1>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.</p>
                        {{!-- <button class="btn btn-primary">More</button> --}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Team Member</h1>
                        <p>About Us!!!</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Akhilesh Ingole</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Shruti Kadam</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Prathamesh Khude</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Sanket Kittad</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
</body>

</html>